<nav class="navbar">

  <div class="logo">
  <img src="assets/Logo.png" alt="F.F Moreno Logo" class="logo-img" />

  <div class="logo-text">
    <span class="name">FIDEL FILIO MORENO</span>
    <span class="role">LEAD SOFTWARE ENGINEER</span>
  </div>
</div>

  <div class="links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/contact" routerLinkActive="active" class="btn-contact">Contact Me</a>
  </div>

</nav>